support-for-ie = true

@import 'nib'

$body-font = SourceSansProLight, Open Sans, sans-serif
$mono-font = Inconsolata, monospace

$pad = 1.5rem
$sidepad = 1rem
$minipad = 1rem
$vmargin = 1rem


// Colors
$offwhite = #FFF
$grey = #000
$txt = #333
$accent = hsl(200, 100%, 39%)
$accent2 = hsl(200, 100%, 59%)
$line = #e4e7ec * 0.98

// Misc
$shadow-str = 0.1

// // Dimensions
$sidebar-width = 13rem
$content-width = 42vw
$pre-width = 42vw

$complement = 0.25rem

/* ----------------------------------------------------------------------------
 * Fonts
 */

//Dev
// @font-face
//     font-family Lato Regular
//     font-weight 400
//     font-style normal
//     font-stretch normal
//     src url(../sealious.github.io/styles/fonts/eot/lato-regular.eot)
//     src url(../sealious.github.io/styles/fonts/woff/lato-regular.woff)
//     src url(../sealious.github.io/styles/fonts/ttf/lato-regular.ttf)
//     src url(../sealious.github.io/styles/fonts/otf/lato-regular.otf)

// @font-face
//     font-family SourceSansProLight
//     font-weight 300
//     font-style normal
//     font-stretch normal
//     src url(../sealious.github.io/styles/fonts/eot/SourceSansPro-Light.eot)
//     src url(../sealious.github.io/styles/fonts/woff/SourceSansPro-Light.otf.woff)
//     src url(../sealious.github.io/styles/fonts/ttf/SourceSansPro-Light.ttf)
//     src url(../sealious.github.io/styles/fonts/otf/SourceSansPro-Light.otf)

// @font-face
//     font-family Inconsolata
//     font-weight 300
//     font-style normal
//     font-stretch normal
//     src url(../sealious.github.io/styles/fonts/woff/inconsolata.woff)
//     src url(../sealious.github.io/styles/fonts/ttf/inconsolata.ttf)
//     src url(../sealious.github.io/styles/fonts/otf/inconsolata.otf)

//Production
@font-face
    font-family Lato Regular
    font-weight 400
    font-style normal
    font-stretch normal
    src url(../styles/fonts/eot/lato-regular.eot)
    src url(../styles/fonts/woff/lato-regular.woff)
    src url(../styles/fonts/ttf/lato-regular.ttf)
    src url(../styles/fonts/otf/lato-regular.otf)

@font-face
    font-family SourceSansProLight
    font-weight 300
    font-style normal
    font-stretch normal
    src url(../styles/fonts/eot/SourceSansPro-Light.eot)
    src url(../styles/fonts/woff/SourceSansPro-Light.otf.woff)
    src url(../styles/fonts/ttf/SourceSansPro-Light.ttf)
    src url(../styles/fonts/otf/SourceSansPro-Light.otf)

@font-face
    font-family Inconsolata
    font-weight 300
    font-style normal
    font-stretch normal
    src url(../styles/fonts/woff/inconsolata.woff)
    src url(../styles/fonts/ttf/inconsolata.ttf)
    src url(../styles/fonts/otf/inconsolata.otf)
    
// ----------------------------------------------------------------------------
// Mixins

scrollbar($bg=white)
  &
    -webkit-overflow-scrolling: touch
  &::-webkit-scrollbar
    width: 1rem
    height: 1rem
  &::-webkit-scrollbar-thumb
    background: #ddd
    border-radius: 0.4rem
    border: solid 0.2rem $bg
  &:hover::-webkit-scrollbar-thumb
    background: #999
    box-shadow: inset 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.2)

antialias()
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

/* ----------------------------------------------------------------------------
 * Base
*/

global-reset()

html
  font-size: 1em;

html, body
  height: 100%
  line-height: 1.5rem;

html
  overflow-x: hidden

body, td, textarea, input
  font-family: $body-font
  color:$txt

  @media (max-width: 30rem) /* Mobile */
    font-size: 1rem
    line-height: 1rem
a
  color: $accent
  text-decoration: none
  &:hover
    color: $accent2

/* ----------------------------------------------------------------------------
 * Content styling
 */

.content
  
  * + * 
    margin-top:1rem

  p, ul, ol, h1, h2, h3, h4, h5, h6, pre, blockquote
    box-sizing: border-box

  h1, h2, h3, h4, h5, h6
    font-weight: bold
    antialias()
  
  pre
    font-family: $mono-font

  ul > li
    list-style-type: disc

  ol > li
    list-style-type: decimal

  ul
    margin-top:0

  ul, ol
    margin-left: 2rem

  ul > li
    list-style-type: none
    position: relative
    &:before
      content: ''
      display: block
      absolute: left -1rem top 0.7rem
      width: 0.4rem
      height: 0.4rem
      border-radius: 0.5rem
      box-sizing: border-box
      background: white
      border: solid 0.1rem $grey

  li > :first-child
    padding-top: 0

  strong, b
    line-height: 1rem;
    font-weight: bold

  i, em
    font-style: italic
    padding-right: 0.2rem
    line-height: 1rem;

  code
    font-family: $mono-font
    background: #F7F7F7
    font-size: 0.95rem
    line-height: 1rem
    color: #183691
    font-weight: normal
    padding-left: 0.4rem
    padding-right: 0.4rem

  pre > code
    display: block
    color: #586E75
    background: #F7F7F7
    border-bottom: 0.25rem solid hsl(195, 14%, 90%)
    margin-bottom: 1rem
    padding: 1rem
    font-size: 0.9em
    white-space: pre-wrap
    line-height: 1rem
    overflow-wrap: break-word

  blockquote
    line-height: 1rem;
    :first-child
      padding-top: 0
    :last-child
      padding-bottom: 0

  table
    margin-top: $vmargin
    margin-bottom: $vmargin
    padding: 0
    border-collapse: collapse
    clear: both

    tr
      border-top: 0.1rem solid #cccccc
      background-color: white
      margin: 0
      padding: 0

      :nth-child(2n)
        background-color: #f8f8f8

      th
        text-align: auto;
        font-weight: bold
        border: 0.1rem solid #cccccc
        margin: 0
        padding: 0.5rem 1rem

      td
        text-align: auto;
        border: 0.1rem solid #cccccc
        margin: 0
        padding: 0.5rem 1rem

      th, td
        :first-child

          margin-top: 0;
        :last-child
          margin-bottom: 0;
          
/* ----------------------------------------------------------------------------
 * Content
 */

.content-root
  min-height: 90%
  position: relative

.content
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem

  clearfix()
  max-width: 43rem
  display: block

  blockquote
    padding-left: $complement * 4
    margin-top $complement * 4
    margin-bottom: $complement * 4
    border-left: 0.25rem solid #e2e7e9

  h1, h2, h3
    antialias()
    font-family: SourceSansProLight
    padding-bottom: 0

    // + p, ul, ol
    //   // padding-top: 1rem

  h1
    text-transform: uppercase
    font-size: 2.5rem
    line-height: 1rem; * 2
    margin-top: $complement * 4
    margin-bottom: $complement * 4

  h2
    font-size: 2.2rem
    line-height: 1rem; * 2
    margin-top: 1.5rem

  h3
    font-size: 1.5rem
    line-height: 1rem; * 2
    margin-top: 1.5rem
    
  h4
    font-size: 1.25rem
    line-height: 1rem;
    margin-top: 2.5rem
    margin-bottom: $complement * 2
  
  h4 + *
    margin-top:0

  h5
    font-size: 1.20rem
    line-height: 1rem;
    margin-bottom: $complement
    margin-top: 2rem;
  
  h6
    font-size: 1.1rem
    line-height: 1rem;
    margin-top: $complement
    margin-bottom: $complement
    
  // Lines
  h1, .big-heading
    &:after
      display: block
      content: ''
      border-bottom: 0.1rem solid #e2e7e9
  
  h1, h2, h3, .big-heading
    text-indent: -1px

    @media (max-width: 48rem) /* Mobile and tablet */
      // padding-top: $minipad * 2

  // Small headings
  .small-heading
    // line-height: 1rem;

  h1:first-child
    padding-top: 0
    &, a, a:visited
      color: $txt
    &:before
      display: none

@media (max-width: 48rem) /* Tablet */
  .content
    h4, h5, .small-heading, body:not(.big-h3) & h3
      // padding-top: $vmargin * 2

@media (max-width: 30rem) /* Mobile */
  .content
    padding: $minipad
    padding-top: $minipad * 2
    line-height: 1rem;

    h4, h5, .small-heading, body:not(.big-h3) & h3
      // padding-top: $vmargin

// ----------------------------------------------------------------------------
// Code blocks

inset-box()
  display: block
  overflow: auto
  scrollbar($offwhite)
  // changes for wrapping code in mobile
  overflow-wrap: normal
  white-space: pre

body.no-literate .content pre > code
  inset-box()

@media (max-width: 74rem) /* Small desktop styling code boxes */
  .content pre > code
    inset-box()

.content
  .button + em
    color: $grey


// ----------------------------------------------------------------------------
// Literate mode content

@media (min-width: 87rem) /* Big desktop */
  .content
    max-width: 80rem

// ----------------------------------------------------------------------------
// Header

.header
  background: $offwhite
  text-shadow: 0 0.1rem 0 rgba(white, 0.5)
  border-bottom: solid 0.1rem $line
  padding: 1rem 1rem 1rem $sidepad
  clearfix()
  line-height: 1rem
  position: relative

  .left
    float: left

  .right
    text-align: right
    position: absolute
    right: 0rem
    top: 0.8rem

    iframe
      display: inline-block
      vertical-align: middle

  h1
    antialias()
    font-weight: bold
    font-family: SourceSansProLight, sans-serif
    font-size: 1rem
    line-height: 1rem

    &, a, a:visited
      color: $grey
    a:hover
      color: $txt

  li a
    font-size: 0.88rem
    line-height: 1rem
    color: $grey
    display: block

    &:hover
      color: $grey*0.4

  @media (min-width: 30rem) /* Tablet & Desktop */
    h1
      float: left

    ul, li
      display: block
      float: left

    ul
      margin-left: -1rem

    h1 + ul
      border-left: solid 0.1rem $line
      margin-left: 1rem

    li
      border-left: solid 0.1rem rgba(white, 0.5)
      border-right: solid 0.1rem $line
      &:last-child
        border-right: 0

    li a
      padding: 0 1rem

@media (max-width: 30rem) /* Mobile */
  // Hide extra stuff on mobile
  .right
    display: none

// ----------------------------------------------------------------------------
// Sidebar

.menubar
  antialias()
  .section
    padding: $sidepad $sidepad
    box-sizing: border-box

  .section + .section
    border-top: solid 0.1rem $line

  .section.no-line
    border-top: 0
    padding-top: 0

a.big.button
  display: block
  box-sizing: border-box
  width: 100%
  padding: 1rem 2rem
  text-align: center

  font-weight: bold
  font-size: 1.1rem
  line-height: 2rem

  background: transparent
  border: solid 0.25rem $accent
  border-radius: 2rem
  font-family: SourceSansProLight, sans-serif

  &, &:visited
    color: $accent
    text-decoration: none

  &:hover
    background: $accent
    &, &:visited
      color: white

@media (max-width: 30rem) /* Mobile */
  .menubar
    padding: $minipad
    border-bottom: solid 0.1rem $line

  .header
    li a
      font-size: 1rem
      line-height: 2rem
      color: $grey
      display: block

@media (max-width: 48rem) /* Mobile and tablet */
  .menubar
    display: none

@media (min-width: 48rem) /* Desktop */
  .content-root
    padding-left: $sidebar-width

  .menubar
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: $sidebar-width
    border-right: solid 0.1rem $line

  .menubar.fixed
    position: fixed

    scrollbar()
    overflow-y: auto

.menubar
  font-size: 0.9rem
  line-height: 1rem

// Menu items
.menu
  ul.level-1 > li + li
    margin-top: 2rem

  a
    box-sizing: border-box
    position: relative

    display: block
    padding-top: 0.1rem
    padding-bottom: 0.1rem
    margin-right: ($sidepad * -1)

    &, &:visited
      color: $accent
    &:hover
      color: $accent*0.8

  a.level-1
    font-family: SourceSansProLight, sans-serif
    text-transform: uppercase
    font-size: 0.9rem
    line-height: 1rem
    font-weight: bold
    &, &:visited
      color: $grey
    &:hover
      color: $grey*0.6

  a.level-2
    font-weight: normal

  a.level-3
    font-weight: normal
    font-size: 0.9em
    line-height: 1rem
    padding-left: 1rem

  a.active
    &, &:visited, &:hover
      // color: $txt !important
    font-weight: bold !important
    
    // Indicator
    &:before
      content: "\2192"
      display: block
      box-sizing: border-box
      absolute: top 0rem left -0.8rem
      font-size: 0.9rem

// ----------------------------------------------------------------------------
// Syntax highlighting (Solarized Scheme)

code
  .string
    color: #2AA198
  .number
    color: #6C71C4
  .init
    color: #B58900
  .keyword
    color: #268BD2
  .comment
    color: $grey * 1.2

// ----------------------------------------------------------------------------

.content
  .large-brief & > h1:first-child + p,
  > p.brief
    font-size: 1.3rem
    line-height: 2rem
    font-family: $body-font
    font-weight: 300

// ----------------------------------------------------------------------------
.title-area
  min-height: 10rem
  box-sizing: border-box
  antialias()
  text-align: center
  border-bottom: solid 0.1rem $line
  overflow: hidden

  > img.bg
    z-index: 0
    // Start it off screen
    position: absolute
    left: -9999px

  > div
    position: relative
    z-index: 1
    

// paragaph indents

p{
  display: block;
}

h4,
h4 ~ p,
h4 ~ pre{
    margin-left:0;
}

h5, 
h5 ~ p,
h5 ~ pre{
    margin-left: 5rem;
}